---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import ResumeItem from "../components/ResumeItem.astro";
import { Image } from "astro:assets";
import aboutImg from "../assets/surfing.jpg";
import { getDataEntryById } from "astro:content";

const educationItems = await getDataEntryById("about", "education");
---

<BaseLayout title="About | Tomas Madariaga" description="About Tomas Madariaga">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <Image
          src={aboutImg}
          alt="Tomas Madariaga focused surfing a wave"
          widths={[240, 540, 720, aboutImg.width]}
          width="1553"
          height="873"
          sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${aboutImg.width}px`}
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Experienced <b>Full Stack Software Engineer</b> with over 10 years
            of experience working on high-traffic, fast-scaling, and complex
            systems. Proven leadership in guiding teams and mentoring engineers.
            I enjoy developing scalable, performance oriented, and easy to
            maintain well-tested code.
            <br /><br />

             I get a kick out of solving problems and building scalable software
            that's not just performant but also easy to handle. Lately, I've been
            more into the front-end product engineering side, but using every possible
            opportunity to handle everything from the backend to the front end for
            those end-to-end features, as I love full-stack development.
            <br /><br />

             I am the kind of person who pitches in wherever I can – be it tweaking
            CI/CD processes, jazzing up observability, or setting up a Redis cache
            to improve performance. In addition to my technical skills, I am also
            a team player and a problem solver. I am always eager to learn new things
            and to collaborate with others to achieve common goals. I am also a highly
            motivated individual with a passion for building exceptional software
            products.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        {
          educationItems.data.map((education) => (
            <ResumeItem
              date={education.date}
              title={education.title}
              description={education.description}
            />
          ))
        }
      </section>
    </main>
  </div>

  <ContactCTA />
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding-bottom: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
